<%- include('header'); -%>

<div id="heading" class="box">
  <h1><%= listTitle %></h1>
</div>

<div class="container">
  <% lists.forEach((list,i)=>{ %>
  <form action="/<%= list %>" method="get" id="<%=list==listName?'special-btn-form':'' %>">
    <div id="" class=" <%= list==listName? 'special-btn':'' %>">
      <div class=" flex-child">
        <button type="submit" class="btn <%= ((list==listTitle.split(" List")[0])||list=="To-do"&&!listTitle.includes("List"))?"selected":"" %> listName"><%= list %></button>
      </div>
      <% if(list==listName &&(list!="To-do")){ %>
      <div class="flex">
        <img id="deleteListButton" list="<%= listName %>" style="display: none;" class="icon" src="images/delete.png" />
      </div>
      <% } %>
    </div>

  </form>
  <% }) %>
  <form class="lists">
    <button class="btn addList" type="button" name="addList" style="padding: 10px 20px">
      +
    </button>
  </form>
</div>

<div class="box">
  <% listItems.forEach((item,i)=>{ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()" />
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listName %>" />
  </form>
  <% }) %>

  <form class="item" action="/<%= listName %>" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
    <button type="submit" name="button" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include('footer'); -%>