<%- include('header'); -%>
<div id="heading" class="box">
  <h1><%= listTitle %></h1>
</div>

<div class="container">
  <% lists.forEach((x,i)=>{ %>
  <form action="/<%= x %>" method="get">
    <button type="submit" class="btn <%= ((x==listTitle.split(" List")[0])||x=="To-do"&&!listTitle.includes("List"))?"selected":"" %> listName"><%= x %></button>
  </form>
  <% }) %>
  <form class="lists">
    <button class="btn addList" type="button" name="addList" style="padding: 10px 20px">
      +
    </button>
  </form>
</div>

<div class="box">
  <% listItems.forEach((x,i)=>{ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=x._id%>" onchange="this.form.submit()" />
      <p><%= x.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listName %>" />
  </form>

  <% }) %>

  <form class="item" action="<%= route %>" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
    <button type="submit" name="button" value="<%= listTitle %>">+</button>
  </form>
</div>
<%- include('footer'); -%>