<%- include('header'); -%>
<div id="heading" class="box">
  <h1><%= listTitle %></h1>
</div>

<div class="container">
  <% lists.forEach((x,i)=>{ %>
  <form style="margin-left: 0" action="<%= x=="To-Do"?"/":x %>" method="get">
    <button type="submit" name="<%= x %>" class="btn <%= ((x==listTitle.split(" List")[0])||x=="To-Do"&&!listTitle.includes("List"))?"selected":"" %> listName"><%= x %></button>
  </form>
  <% }) %>
  <form class="lists" style="margin-left: 0">
    <button class="btn addList" type="button" name="addList" style="padding: 10px 20px">
      +
    </button>
  </form>
</div>

<div class="box">
  <% listItems.forEach((x,i)=>{ %>
  <div class="item">
    <input type="checkbox" />
    <p><%= x %></p>
  </div>
  <% }) %>

  <form class="item" action="<%= route %>" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
    <button type="submit" name="button" value="<%= listTitle %>">+</button>
  </form>
</div>
<%- include('footer'); -%>